.topDiv {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 45%;
	border-bottom-style: solid;
}

.bottomLeftDiv, .bottomRightDiv {
	position: fixed;
	top: 46%;
	height: 100%;
}

.bottomLeftDiv {
	left: 0.5%;
	width: 53%;
	border-right-style: solid;
}

.bottomRightDiv {
	right: 0.2%;
	width: 46.3%;
}

#histogram {
	width: 51%;
	height: 100%;
	float: left;
	border-right-style: solid;
}

#pieChart {
	width: 47%;
	height: 100%;
	float: right;
}

.slice, #pieChart text {
	font-size: 8pt;
	font-family: Arial, serif;
	font-weight: bold;
}

svg rect {
	fill: black;   /* map background colour */
}

.country{
	fill: white;  /* country colour */
	stroke: #2A2C39; /* country border colour */
	stroke-width: 1; /* country border width */
}

.country-on{
	fill: #4B5358;   /* highlight colour for selected country */
}

.countryLabel{
	display: none;   /* hide all country labels by default */
}

.countryName{
	fill: #FFFAFF;   /* country label text colour */
}

.countryLabelBg{
	fill: #30BCED;   /* country label background colour */
}

.small, .medium_small, .medium, .medium_big, .big {
	stroke: black;
}

.small {
	fill: #ffffb2;
}

.medium_small {
	fill: #fecc5c;
}

.medium {
	fill: #fd8d3c;
}

.medium_big {
	fill: #f03b20;
}

.big {
	fill: #bd0026;
}

.my_tooltip {
	position:absolute;
	display: block;
	text-align: center;
	width: auto;
	background-color: white;
	border-radius: 10px;
	color: #787777;
	padding: 5px 3px;
	border: 1px solid black;
	z-index:3;
}