.topDiv, .bottomDiv {
	position: fixed;
	left: 0;
	right: 0;
	height: 50%;
}

.topDiv {
	top: 0;
	border-bottom-style: solid;
}

.bottomDiv {
	bottom: 0;
}

.bottomLeftDiv, .bottomRightDiv {
	position: fixed;
	top: 50%;
	bottom: 0;
	height: 50%;
	width: 50%;
}

.bottomLeftDiv {
	left: 0;
	border-right-style: solid;
}

.bottomRightDiv {
	right: 0;
}

.sphere {
	fill: #fff;
}

.land {
	fill: #000;
}

.boundary {
	fill: none;
	stroke: #fff;
	stroke-linejoin: round;
	stroke-linecap: round;
	vector-effect: non-scaling-stroke;
}
