body{
	background:#C9D6CF;
}

.svg_area{
	background:white;
}

.red{
	fill:red;
}

.green{
	fill:green;
}

.blue{
	fill:blue;
}

.top, .bottom {
	position: fixed;
	left: 0;
	right: 0;
	height: 50%;
	border-style: solid;
	background-color: white;
}

.top {
	top: 0;
}

.bottom {
	bottom: 0;
}