.topDiv, .bottomDiv {
	position: fixed;
	left: 0;
	right: 0;
	height: 50%;
}

.topDiv {
	top: 0;
	border-bottom-style: solid;
}

.bottomDiv {
	bottom: 0;
}

.bottomLeftDiv, .bottomRightDiv {
	position: fixed;
	top: 50%;
	bottom: 0;
	height: 50%;
	width: 50%;
}

.bottomLeftDiv {
	left: 0;
	border-right-style: solid;
}

.bottomRightDiv {
	right: 0;
}

svg rect {
	fill: #2A2C39;   /* map background colour */
}

.country{
	fill: #d0d0d0;   /* country colour */
	stroke: #2A2C39; /* country border colour */
	stroke-width: 1; /* country border width */
}

.country-on{
	fill: #4B5358;   /* highlight colour for selected country */
}

.countryLabel{
	display: none;   /* hide all country labels by default */
}

.countryName{
	fill: #FFFAFF;   /* country label text colour */
}

.countryLabelBg{
	fill: #30BCED;   /* country label background colour */
}

.white, .green, .yellow, .orange, .red {
	stroke: black;
}

.white {
	fill: white;
}

.green {
	fill: green;
}

.yellow {
	fill: yellow;
}

.orange {
	fill: orange;
}

.red {
	fill: red;
}